body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: linear-gradient(to bottom right, #f4f4f9, #d1e8e2);
}

#sheetUrlDiv{
    display: flex;
    justify-content: center;
}

#sheetUrl {
    display: inline-block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-align: center;
}

#sheetUrl:hover {
    background-color: #45a049;
}


/* h1 {
    text-align: center;
    color: #333;
} */

/*  h1 {
    text-align: center;
    color: #333;
    font-size: 2.5em;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
} */

h1 {
    text-align: center;
    font-size: 2.5em;
    color: #2c3e50; /* A dark slate blue for initial color */
    transition: color 0.3s ease, transform 0.3s ease;
    cursor: pointer; /* Indicate interactivity */
}

h1:hover {
    color: #16a085; /* A teal color to match green elements */
    transform: scale(1.1); /* Slightly enlarge on hover */
}


table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

thead th {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
}

tbody td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.toast {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50; /* Green color for success */
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1000;
}

.toast.fade {
    opacity: 1;
    transform: translateX(-50%) translateY(-10px);
}



